*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
mock_data/
mock_submit/
submission_renders/
output_models/
submission.zip
.ipynb_checkpoints/
Depth-Anything-V2/